@page "/food"
<div class =" row">
    <div class="col-md-4 mb-3">
        <input class="form-control" placeholder="Name" @bind="model.Name" />
    </div> 
    <div class="col-md-4 mb-3">
        <input class="form-control" placeholder="Email" type="email" @bind="model.Email" />
    </div>
    <div class="col-md-4 mb-3">
        <button class="btn btn-primary"  @onclick="AddFood">Add Food</button>
    </div>

</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                @if (food?.Any() ?? false)
                {
                    @foreach (var foods in food )
                    {
                        <tr>
                            <td>@foods.Name</td>
                            <td>@foods.Email</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="2">No Foods Added Yet</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code{
    private class Food
        {
    public string? Name { get; set; }
    public string? Email { get; set; }
        }
        private List<Food> food = new();
        private Food model = new();

        private void AddFood()
        {
            food.Add(model);
            model = new();
        }
}
