@page "/redemption"
@using POS_CW.Data.Models

<h3>Redemption</h3>


    <div class="form-group">
        <label for="Username">Username:</label>
        <InputText id="Username" class="form-control" />
        <label for="PhoneNumber">PhoneNumber:</label>
        <InputText id="PhoneNumber" class="form-control" />
    </div>
    <!-- Submit button for saving changes -->

    <button type="button" class="btn btn-primary">Redeem Coffee</button>
@code{

}