<!-- Razor page for editing a hobby with a specified Id -->
@page "/editaddin/{Id:guid}"
@using POS_CW.Data.Models;
@using POS_CW.Data.models;
@using POS_CW.Data.services;
<!-- Inject the NavigationManager Service for page navigation -->
@inject NavigationManager NavManager
@inject GlobalState GlobalState
<h3>EditHobby @GlobalState.CurrentUser.Email</h3>

<!-- EditForm component of blazor for handling form submission and validation -->
<EditForm Model="@addin" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Name">Name:</label>
        <!-- InputText component with two-way data binding to the hobby's Name property -->
        <InputText id="Name" class="form-control" @bind-Value="addin.AddIn_Name" />
        <label for="Price">Price:</label>
        <InputNumber id="Price" class="form-control" @bind-Value="addin.AddIn_Price" />
    </div>
    <!-- Submit button for saving changes -->
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter] // Parameter to capture the hobby Id from the route above /EditHobby/{Id:guid}
    public Guid Id { get; set; }

    // Hobby object to store and edit hobby information
    public Add_In addin;

    // Initialization method runs when the component i.e. EditHobby.razor is initialized
    protected override void OnInitialized()
    {
        addin = Add_InServices.GetAdd_InById(Id); // Retrieve the hobby information based on the specified Id, Calling the Method from HobbyServices class in Services Folder
        base.OnInitialized();
    }

    // HandleSubmit method is called on form submission
    public void HandleSubmit()
    {
        try
        {
            // Call HobbyServices to edit the hobby with the specified Id and updated Name by calling method EditHobby from HobbyServices class in Services Folder
            Add_InServices.EditAdd_In(Id, addin.AddIn_Name, addin.AddIn_Price);

            // Display a success alert and navigate back to the Hobbies page
            App.Current.MainPage.DisplayAlert("Success", "Data SuccessFully Edited", "Ok");
            NavManager.NavigateTo("/addin");
        }
        catch (Exception ex)
        {
            // Display an error alert if an exception occurs during editing
            App.Current.MainPage.DisplayAlert("Error", $"Error Editing Hobbies:{ex.Message}", "Ok");
        }
    }
}
