@using POS_CW.Data.Models;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">POS_CW</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3"><h5 class="text-light">Welcome <strong>@Username</strong>!</h5></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (GlobalState.CurrentUser.Role == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/addin">
                <span class="oi oi-plus" aria-hidden="true"></span> View Addin
            </NavLink>
        </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/coffee">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Coffee
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/order">
                <span class="oi oi-brush" aria-hidden="true"></span> Order
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="/view_order">
                <span class="oi oi-sun" aria-hidden="true"></span> Order History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/view_payment">
                <span class="oi oi-sun" aria-hidden="true"></span> Payment History
            </NavLink>
        </div>

        @if (GlobalState.CurrentUser.Role == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/renew">
                    <span class="oi oi-plus" aria-hidden="true"></span> Renew Membership
                </NavLink>
            </div>
        }
        @if (GlobalState.CurrentUser == null){
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="/login">
                <span class="oi oi-list-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link text-danger" role="button" @onclick="LogoutHandler">
                <span class="oi oi-account-logout" /> Logout
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private const string V = "Null";

    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }
    [Inject]
    private GlobalState GlobalState { get; set; }
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
