@page "/coffee"
@using POS_CW.Data.Services;

<h3>Coffee</h3>

<h3>View COffee</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action Available</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through each hobby data -->
        @foreach (var coffeeData in Coffees_Services.RetrieveCoffeeData())
        {
            <tr>
                <!-- Display hobby ID and Name -->
                <td>@coffeeData.Id</td>
                <td>@coffeeData.Coffee_Name</td>
                <td>@coffeeData.Coffee_Price</td>
                <td>
                    <!-- Button to navigate to the EditHobby page with the specific hobby ID -->
                    <button type="submit" @onclick="@(()=>EditCoffee(coffeeData.Id))" class="btn btn-primary">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
    // Inject NavigationManager for navigation purposes
    [Inject]
    private NavigationManager NManager { get; set; }

    // Initialize the page on start
    protected override void OnInitialized()
    {
        // Inject sample hobby data to ensure some data exists
        Coffees_Services.InjectSampleCoffeeData();
        base.OnInitialized();
    }

    // Method to navigate to the EditHobby page with a specific hobby Id
    public void EditCoffee(Guid id)
    {
        try
        {
            // Navigate to the EditHobby page with the specific hobby ID
            NManager.NavigateTo($"/editcoffee/{id}");
        }
        catch (Exception ex)
        {
            // Handle any navigation errors
            Console.WriteLine($"Error Navigating:{ex.Message}");
        }
    }
}
